<style>
calendar-component .item {
    margin: 0 0 4px 0;
    border-bottom: 1px dashed dimgrey;
    overflow: hidden;
}

calendar-component .item div {
    float: left;
}
calendar-component .item .time {
    margin: 0 15px 0 0;
}
</style>

<div class="calendar bhp-wrap">
    <div class="item" ng-repeat="item in ctrl.pullUnits">
        <div ng-click="ctrl.onEdit(item)">
            <div class="time">{{item.hour}}:{{item.minute}}</div>
            <div class="info">{{item.fam}} {{item.name}} / {{item.phone1}}</div>

        </div>
    </div>
</div>