<style>
    calendar-component .item {
        margin: 0 0 4px 0;
        border-bottom: 1px dashed dimgrey;
        overflow: hidden;
    }

    calendar-component .item div {
        float: left;
    }

    calendar-component .item .time {
        margin: 0 15px 0 0;
    }

    calendar-component .half {
        width: calc(50% - 60px);
        margin: 0 30px;
        float: left;
    }

    calendar-component .nowDate {
        width: 100%;
        overflow: hidden;
        margin: 0 0 14px 0;
        font-style: italic;
        color: gray;
    }

    calendar-component .item:hover {
        border-bottom: 1px solid #cccccc;
    }

    calendar-component .nowDate>div {
        float: left;
    }

    calendar-component .bhp-btn {
        background: #ff4081;
        color: white;
        font-size: 13px;
        border-radius: 12px;
        height: 18px;
        width: 18px;
        line-height: 18px;
        text-align: center;
        margin: 0px 0 0 10px;
    }

    calendar-component .termins>div {
        float: left;
        margin: 0 5px;
    }

    calendar-component .miniNav {
        margin: -6px 0 0 40px;
    }

    calendar-component .miniNav>* {
        float: left;
    }

    calendar-component .termins {
        margin: 13px 10px;
        padding: 4px 7px;
        box-shadow: 0 0 5px #212121;
        border-radius: 18px;
    }

    calendar-component .md-button.active {
        background: red !important;
    }

    calendar-component .md-button.disable {
        background: gray !important;
    }

    .md-dialog-container .close {
        background: gray;
        width: 19px;
        position: absolute;
        right: 0;
        text-align: center;
        color: white;
        cursor: pointer;
        box-shadow: 0 0 3px black;
        font-weight: bold;
    }

    .md-dialog-container md-input-container {
        margin: 40px;
    }

    .md-dialog-container button {
        float: right;
    }

    calendar-component .item.disable {
        font-style: italic;
        color: gray;
    }

    calendar-component .oneDay {
        overflow: hidden;
        margin: 10px 0 0 0;
        padding: 10px;
        background: white;
        box-shadow: 0 0 1px gainsboro;
    }

    calendar-component .dayDate {
        margin: 0 0 10px 0;
        border-left: 1px solid #868686;
        padding: 0 0 0 3px;
        border-radius: 7px;
    }
</style>


<div class="calendar bhp-wrap" ng-class="{'isFinalCommit': ctrl.isFinalCommit,'isChange': ctrl.toChangeClass}">

    <div class="nowDate">
        <div>
            <md-datepicker ng-change="ctrl.update()" md-open-on-focus md-placeholder ng-model="ctrl.dateEdit" />
        </div>

        <div>
            <md-select ng-change="ctrl.update()" ng-model="ctrl.selectCountDays" placeholder="1 день" style="margin:3px 0 0 15px">
                <md-option ng-value="x" ng-repeat="x in ctrl.countsDay">{{x}}</md-option>
            </md-select>
        </div>

        <div class="miniNav">
            <md-button ng-click="ctrl.changeTermins()" class="md-fab md-mini" aria-label="Mini FAB" ng-class="ctrl.toChangeClass ? 'actrive' : 'disable'">
                <md-icon md-svg-src="img/{{ctrl.toChangeOk ? 'done.svg' : 'refresh.svg'}}"></md-icon>
            </md-button>

            <div class="termins" ng-if="ctrl.toChange && ctrl.toChange.length">
                <div class="first" ng-if="ctrl.toChange.length > 0">
                    {{ctrl.toChange[0].date}} {{ctrl.toChange[0].hour}}:{{ctrl.toChange[0].minute}}
                    {{ctrl.toChange[0].fam}}</div>
                <div>
                    <>
                </div>
                <div class="first" ng-if="ctrl.toChange.length > 1">
                    {{ctrl.toChange[1].fam}} {{ctrl.toChange[1].date}}
                    {{ctrl.toChange[1].hour}}:{{ctrl.toChange[1].minute}}</div>
            </div>

            <md-button ng-click="ctrl.finalCommit()" class="md-fab md-mini" aria-label="Mini FAB" ng-class="ctrl.isFinalCommit ? 'actrive' : 'disable'">
                <md-icon md-svg-src="img/commit.svg"></md-icon>
            </md-button>

            <md-button ng-click="ctrl.openPdf()" class="md-fab md-mini disable" aria-label="Mini FAB">
                <md-icon md-svg-src="img/printer.svg"></md-icon>
            </md-button>


        </div>
    </div>

    <div id="toPrint">
        <div ng-repeat="Day in ctrl.allDays" class="oneDay">


            <div class="dayDate">{{Day.date}}</div>

            <div class="halfDay half">
                <div class="item first" ng-repeat="item in Day.first" ng-class="{'disable': item.visitDateNumber && !ctrl.roleAdmin}">
                    <div class="pointer">
                        <div ng-click="ctrl.onEdit(item)" class="time">{{item.hour}}:{{item.minute}}</div>
                        <div ng-click="ctrl.onEdit(item)" class="info">{{item.fam}} {{item.name}} / {{item.phone1}}</div>
                        <div ng-hide="item.visitDateNumber && !ctrl.roleAdmin" ng-if="item.id && ctrl.toChangeClass"
                            ng-click="ctrl.addToChange(item)" class="bhp-btn">+</div>
                        <div ng-hide="item.visitDateNumber && !ctrl.roleAdmin" ng-if="item.id && ctrl.isFinalCommit"
                            ng-click="ctrl.finalCommitDialog(item)" class="bhp-btn">✔</div>
                    </div>
                </div>
            </div>
            <div class="halfDay half">
                <div class="item second" ng-repeat="item in Day.second" ng-class="{'disable': item.visitDateNumber && !ctrl.roleAdmin}">
                    <div class="pointer">
                        <div ng-click="ctrl.onEdit(item)" class="time">{{item.hour}}:{{item.minute}}</div>
                        <div ng-click="ctrl.onEdit(item)" class="info">{{item.fam}} {{item.name}} / {{item.phone1}}</div>
                        <div ng-hide="item.visitDateNumber && !ctrl.roleAdmin" ng-if="item.id  && ctrl.toChangeClass"
                            ng-click="ctrl.addToChange(item)" class="bhp-btn">+</div>
                        <div ng-hide="item.visitDateNumber && !ctrl.roleAdmin" ng-if="item.id && ctrl.isFinalCommit"
                            ng-click="ctrl.finalCommitDialog(item)" class="bhp-btn">✔</div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<div style="visibility: hidden" class="terminReception">
    <div class="md-dialog-container" id="mdStaticDialog">
        <md-dialog>
            <div class="close" ng-click="ctrl.finalCommitDialogClose()">X</div>
            <md-input-container>
                <label>Прием термина</label>
                <input ng-model="ctrl.terminReception">
                <md-button ng-click="ctrl.terminReceptionApply()" class="md-raised colorRed">Сохранить</md-button>
            </md-input-container>
        </md-dialog>
    </div>
</div>