<style>
    users-editor-component {
        overflow: hidden;
        display: block;
        margin: 28px auto 0 auto;
        max-width: 95%;
    }

    users-editor-component .item>div>div {
        float: left;
    }

    users-editor-component .item>div {
        width: 100%;
        overflow: hidden;
        margin: 10px 0;
    }
    @media (max-width: 600px) {
        users-editor-component input {
            width: 97%;
            margin: 6px 0;
        }

        users-editor-component select {
            width: calc(97% + 4px);
        }
    }

</style>

<div class="wrapp">
    <div class="item" ng-repeat="item in ctrl.allUsers">
        <div>
            <input type="text" ng-model="item.name" placeholder="Full name">
            <input type="text" ng-model="item.email" placeholder="E-mail">
            <select ng-model="item.role">
                <option value="1">{{l.get().administrator}}</option>
                <option value="0">{{l.get().user}}</option>
            </select>
            <input type="password" ng-model="item.password" placeholder="password">
            <md-button ng-click="ctrl.save(item)" class="md-raised colorGreen">{{l.get().save}}</md-button>
            <md-button ng-click="ctrl.remove(item)" class="md-raised colorRed">{{l.get().del}}</md-button>
        </div>
    </div>

    <md-button ng-click="ctrl.add()" class="md-raised colorYellow">{{l.get().add}}</md-button>

</div>