<style>
    login-access-component {
        overflow: hidden;
        display: block;
        margin: 100px auto 0 auto;
        max-width: 535px;
    }
    @media (max-width: 600px) {
        login-access-component {
            max-width: 70%;
        }
        login-access-component .md-button {
            margin: 3px auto;
            width: 111px;
            display: block;
        }
    }
</style>

<form>
    <md-input-container>
        <label>E-mail</label>
        <input ng-model="ctrl.email" type="email" required>
    </md-input-container>

    <md-input-container>
        <label>{{l.get().password}}</label>
        <input ng-model="ctrl.password" required md-minlength="6" type="password">
    </md-input-container>

    <md-button ng-click="ctrl.enter()" class="md-raised">{{l.get().login}}</md-button>

</form>