<style>
    .bhp-wrap {
        max-width: 90%;
        margin: 8px auto;
    }

    .bhp-half {
        width: calc(50% - 60px);
        margin: 0 30px;
        float: left;
    }

    .bhp-half>md-input-container {
        max-width: 200px;
    }

    .colorYellow,
    .colorYellow>div {
        background: #ff070717 !important;
    }

    .colorGreen,
    .colorGreen>div {
        background: #07ff0730 !important;
    }

    .colorRed,
    .colorRed>div {
        background: #ff070730 !important;
    }

    .toastBad .md-toast-content {
        background: #de2d2d !important;
    }

    .toastOk .md-toast-content {
        background: green !important;
    }

    .visitDateNumber {
        color: red;
        font-style: italic;
        text-decoration: underline;
        font-weight: 600;
    }

    @media (max-width: 600px) {
        form-input-component .bhp-half {
            width: 100%;
            margin: 0;
            font-size: 14px;
        }

        form-input-component md-input-container {
            margin: 5px 0 0 0;
        }

        form-input-component .bhp-half>md-input-container {
            max-width: 100%;
            width: 97%;
        }
    }
</style>


<form name="userForm" class="bhp-wrap">


    <div class="bhp-half" layout="column">
        <div>
            <label ng-hide="ctrl.unit.visitDateNumber">Дата "Термина"</label>
            <label class="visitDateNumber" if="ctrl.unit.visitDateNumber">{{ctrl.unit.visitDateNumber}}</label>
            <md-datepicker ng-disabled="ctrl.unit.visitDateNumber && !ctrl.roleAdmin" md-open-on-focus md-placeholder
                ng-model="ctrl.unit.date"></md-datepicker>

            <select ng-disabled="ctrl.unit.visitDateNumber && !ctrl.roleAdmin" ng-model="ctrl.unit.hour">
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
            </select>
            <select ng-disabled="ctrl.unit.visitDateNumber && !ctrl.roleAdmin" ng-model="ctrl.unit.minute">
                <option value="00">00</option>
                <option value="30">30</option>
            </select>
        </div>

        <md-input-container>
            <label>Фамилия</label>
            <input ng-disabled="ctrl.unit.visitDateNumber && !ctrl.roleAdmin" ng-model="ctrl.unit.fam">
        </md-input-container>

        <md-input-container>
            <label>Имя</label>
            <input ng-disabled="ctrl.unit.visitDateNumber && !ctrl.roleAdmin" ng-model="ctrl.unit.name">
        </md-input-container>


        <div>
            <label>Дата рождения</label>
            <md-datepicker ng-disabled="ctrl.unit.visitDateNumber && !ctrl.roleAdmin" md-open-on-focus md-placeholder
                ng-model="ctrl.unit.birthday" />
        </div>

        <md-input-container>
            <label>Телефон 1</label>
            <input ng-disabled="ctrl.unit.visitDateNumber && !ctrl.roleAdmin" ng-model="ctrl.unit.phone1">
        </md-input-container>

        <md-input-container>
            <label>Телефон 2</label>
            <input ng-disabled="ctrl.unit.visitDateNumber && !ctrl.roleAdmin" ng-model="ctrl.unit.phone2">
        </md-input-container>

    </div>
    <div class="bhp-half" layout="column">

        <md-input-container layout-align="center">
            <label>Регион</label>
            <input ng-disabled="ctrl.unit.visitDateNumber && !ctrl.roleAdmin" ng-model="ctrl.unit.region">
        </md-input-container>


        <md-input-container>
            <label>Страховка</label>
            <input ng-disabled="ctrl.unit.visitDateNumber && !ctrl.roleAdmin" ng-model="ctrl.unit.insurance">
        </md-input-container>


        <md-input-container>
            <label>Zuweiser</label>
            <input ng-disabled="ctrl.unit.visitDateNumber && !ctrl.roleAdmin" ng-model="ctrl.unit.zuweiser">
        </md-input-container>

        <md-input-container>
            <label>Коментарий</label>
            <textarea ng-disabled="ctrl.unit.visitDateNumber && !ctrl.roleAdmin" ng-model="ctrl.unit.comments"></textarea>
        </md-input-container>

    </div>

    <div ng-if="!ctrl.unit.id" ng-hide="ctrl.unit.visitDateNumber && !ctrl.roleAdmin">
        <md-button ng-click="ctrl.save()" class="md-raised colorGreen">Добавить</md-button>
        <md-button ng-click="ctrl.clear()" class="md-raised colorYellow">Очистить</md-button>
    </div>
    <div ng-if="ctrl.unit.id" ng-hide="ctrl.unit.visitDateNumber && !ctrl.roleAdmin">
        <md-button ng-click="ctrl.editSave()" class="md-raised colorGreen">Внести изменения</md-button>
        <md-button ng-click="ctrl.clear()" class="md-raised colorYellow">Отменить</md-button>
        <md-button ng-click="ctrl.delete()" class="md-raised colorRed">Удалить</md-button>
    </div>
</form>